

header{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 20em;
    padding-bottom: 15em;
}

.on-it{
  background-color: powderblue;
  border: 1px solid powderblue;
  border-radius: 25%;
}

.logo{
    padding-right: 1rem;
}

cards{
    padding-bottom: 5rem;
}

/*header {
  position: sticky;
  top: -54px;  value to scroll past the logo so just the search bar is sticky 
  z-index: 2;
}*/
.search-bar {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.search-bar input {
  width: 50%;
  min-width: 300px;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 16px;
  border: 1px solid gray;
  box-shadow: inset;
  outline: none;
}
.search-bar [list]::-webkit-list-button,
.search-bar [list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

.footer{
    padding-top: 10rem;
}

.card-link{
    color: white;
    text-decoration: underline white;
}

.small-img{
  border: 1px solid transparent;
  border-radius: 12%;
}

.blacklink{
  /*text-decoration: none;*/
  color: black;
}

